// NEW NAV

.main-nav {
  position: fixed;
  z-index: 10;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 5px solid #ec1d25;
  padding: 10px 10%;
  height: 80px;
  margin: 0px auto;
  transition: 0.3s ease-in-out;
  
  .main-menu a{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 15px;
      &:hover{
          color: #ec1d25;
      }
  }
  .social i{
      color: white;
      font-size: 15px;
      line-height: 15px;
      margin-left: 21px;
      
      a.burger-menu{
          font-size: 45px;
          color: #000;
          transition: 0.3s all ease-in-out;
      }
      &:hover{
          color: #ec1d25;
      }
  }
}
// BURGER MENU 

.burger-menu {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  cursor: pointer;

  div {
      width: 70%;
      height: 3px;
      background: rgb(255, 255, 255);
      margin: 5px 0;
  }
}

// SCROLL DOWN NAV

.main-nav.scroll-down{
  background: rgba($color: #fff, $alpha:.95);
  transition:all ease-in-out .3s;
  height: 65px;
  box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
  .main-menu a{
      color: #000;
  }
  .social i{
      color: #000;
  }
  .burger-menu div{
      background-color: #000;
  }
}

// RESPONSIVE NAV

@media only screen and (max-width: 1200px) {
    .main-menu{
        display: none;
        
    }
}

